{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denkion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static 'administrador/css/style.css' %}" rel="stylesheet">
</head>
<body>

 <!--Barra de navegación-->
 <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'administrador/img/Denki_logo60h206w.png' %}" alt="Logo" width="206" height="60" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'crud_productos' %}">Productos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'crud_clientes' %}">Clientes</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Boletas</a></li>            
        </ul>
    </div>
</nav>
<!--FIN Barra de navegación-->    

<div class="container mt-4">
        <h1 class="titulo text-center">Formulario Agregar Clientes</h1>
        <br><br>
    <form action="" method = "POST" class="text-center jus-form">
        {% csrf_token %}

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Rut</span>
                </div>
                <input type="number" name="rut" value="{{cliente.rut}}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">DV</span>
                </div>
                <input type="text" name="dv" value="{{cliente.dv}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Contrase&ntilde;a</span>
                </div>
                <input type="password" name="password" value="{{cliente.password}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Correo</span>
                </div>
                <input type="email" name="email" value="{{cliente.email}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                </div>
                <input type="text" name="first_name" value="{{cliente.first_name}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Apellido Paterno</span>
                </div>
                <input type="text" name="last_name" value="{{cliente.last_name}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Apellido Materno</span>
                </div>
                <input type="text" name="ap_materno" value="{{cliente.ap_materno}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Fecha de nacimiento</span>
                </div>
                <input type="date" name="fec_nac" value="{{cliente.fec_nac|date:'Y-m-d'}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tel&eacute;fono</span>
                </div>
                <input type="tel" name="tele" value="{{cliente.tele}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Regi&oacute;n</span>
                </div>
                <input type="text" name="region" value="{{cliente.region}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ciudad</span>
                </div>
                <input type="text" name="ciudad" value="{{cliente.ciudad}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Comuna</span>
                </div>
                <input type="text" name="comuna" value="{{cliente.comuna}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Direcci&oacute;n</span>
                </div>
                <input type="text" name="dire" value="{{cliente.dire}}" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="text-center">
                        <button type="submit" class="btn btn-info btn-lg" name="opcion" style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #1b3248;">Agregar</button>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="text-center">
                    <button type="button" class="btn btn-info btn-lg" style="color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        <a href="{% url 'crud_clientes' %}" style="color: aliceblue;">Volver</a>
                    </button>
                </div>
            </div>
        </div>
    </form>  
    <br>
    <div id="idMensajes">
        {% if mensaje %}
        {{mensaje}}
        {% endif %}
    </div> 
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>